body {
	padding-top: 60px;
	padding-bottom: 10px;
}

.body-content {
	padding-left: 10px;
	padding-right: 10px;
}


/* Onu list elements*/
#search-form, .search-form-icon {
	color:#5bc0de;
}

#refresh-onu-list {
	font-size: 1.8em;
	color: #5bc0de;
	margin-top: 7px;
	display: inline-block;
}

table.onu-list {
	width: 100%;
}

table.onu-list > tbody > tr > td {
	padding: 8px;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.onu-list> tbody > tr:hover, table.onu-list > tbody > tr:focus {
	background-color: #eef8fc;
}

onu-list-id {
	font-size: 1.3em;
	font-weight: normal;
	text-align: right;
}

onu-list-sn {
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	color: #5bc0de;
}

onu-list-item {
	font-size: 1.3em;
	font-weight: normal;
}


/* Onu details elements */
#refresh-onu-details {
	font-size: 0.9em;
	color: #5bc0de;
	margin-right: 1.0em;
}

table.onu-details {
	width: 100%;
}

table.onu-details > tbody > tr > td {
	padding: 8px;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

onu-detail-description {
	font-size: 1.3em;
	font-weight: normal;
	text-align: right;
}

onu-detail-item {
	font-size: 1.3em;
	font-weight: bold;
}

onu-detail-description-head {
	font-size: 2.0em;
	font-weight: normal;
}

onu-detail-item-head {
	font-size: 2.0em;
	font-weight: normal;
}

.default-indicator {
	color: #222222;
}

.info-indicator {
	color: #5bc0de;
}

.success-indicator {
	color: #43ac6a;
}

.warning-indicator {
	color: #e99002;
}

.danger-indicator {
	color: #f04124;
}

.unknown-indicator {
	color: #808080;
}
