/* Body elements*/
body {
	overflow-y: scroll;
}

.w-10 {
	width: 10%;
}

/* Onu list elements*/
#refresh-onu-list {
	font-size: 1.8em;
	color: #5bc0de;
}

table.onu-list {
	width: 100%;
	cursor: pointer;
}

table.onu-list > tbody > tr > td {
	padding: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.onu-list> tbody > tr:hover, table.onu-list > tbody > tr:focus {
	background-color: #eef8fc;
}

td.onu-list-id {
	font-size: 1.3em;
	font-weight: normal;
	text-align: right;
}

td.onu-list-sn {
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	color: #5bc0de;
}

td.onu-list-item {
	font-size: 1.3em;
	font-weight: normal;
}

/* Onu details elements */
#refresh-onu-details {
	font-size: 0.9em;
	color: #5bc0de;
	margin-left: 0.8em;
	margin-right: 0.4em;
}

table.onu-details {
	width: 100%;
}

table.onu-details > tbody > tr > td {
	padding: 6px;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.onu-detail-description {
	font-size: 1.3em;
	font-weight: normal;
	text-align: right;
}

td.onu-detail-item {
	font-size: 1.3em;
	font-weight: bold;
}

td.onu-detail-description-head {
	font-size: 2.0em;
	font-weight: normal;
}

td.onu-detail-item-head {
	font-size: 2.0em;
	font-weight: normal;
}

.indicator-unknown {
	color: #808080;
}

.indicator-default{
	color: #222222;
}

.indicator-info {
	color: #5bc0de;
}

.indicator-success {
	color: #43ac6a;
}

.indicator-warning {
	color: #e99002;
}

.indicator-danger {
	color: #f04124;
}